@charset "UTF-8";
/* CSS Document */

/* Calculator Box */
.box {
	background-image: url("https://media.giphy.com/media/SbJqd0Qyf2sc8/giphy.gif");
	background-position: center;
	height: 350px;
	width: 300px;
	border-radius: 45px;
	position:relative;
	top: 80px; 
	left: 40%;
	}

/*Display*/ 
.display {
	background-color: #FF00B2;
	width: 261px;
	position: relative;
	left: 25px;
	top: 24px;
	height: 45px;
	} 
	.display input {
		position: relative;
		left: 2px;
		top: 2px;
		height: 30px;
		width: 250px;
		color:#FF00B2;
		background-color: #FAC800;
		font-size: 27px; 
		text-align: right;
		}
		/* Calculator Buttons */
		.keys {
			position: relative;
			top: 15px;

			}
			.button {
				width: 40px;
				height:30px;
				border: none;
				border-radius: 8px;
				margin-left: 25px;
				cursor:pointer;
				border-top: 2px solid transparent;
				}
				.button.function {
					color: #1DFFFF;
					background-color: #FF00B2;
					border-bottom: black 2px solid;
					border-top: 2px #1DFFFF solid;
					font-size:13px;
					} 
					.button.operator { 
					color:#FF00B2;
					background-color:#21E124;
					border-bottom: black 2px solid;
					border-top:2px #FF00B2 solid;
					font-size:18px;
					margin-left:25px;
					margin-right:25px;
						}
					.button.number {
						color:#FF00B2;
						background-color:#1DFFFF;
						border-bottom: black 2px solid;
						border-top: 2px #FF00B2 solid;
						font-size:18px;
						}
					
						/*Simulate Button Press */
		.function:active {
			border-top: #FF00B2 2px solid;
			border-bottom: 2px #FF00B2 solid;
			}
			.operator:active {
					border-top:#112313 2px solid;
					border-bottom: #1DFFFF 2px solid;
			}
			.number:active {
			border-top: #FF00B2 2px solid;
			border-bottom: 2px #1DFFFF;
				}.oper {
}
